/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
.hoverme {
    width: 70vh;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    h1 {
      color: #fff;
      font-size: 3em;
    }
    i {
      position: absolute;
      display: block;
      left: 50%;
      top: 0;
      width: 5px;
      height: 10px;
      background: red;
      opacity: 0;
    }
    &:hover {
      @for $i from 1 through 50 {
        i:nth-of-type(#{$i}) {
          transform: translate3d(
              random(190) - 100 + px,
              random(200) - 100 + px,
              0
            )
            rotate(random(360) + deg);
          background: hsla(random(360), 100%, 50%, 1);
          animation: bang 700ms ease-out forwards;
          opacity: 0;
        }
      }
    }
  }

  
  @keyframes bang {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }